
html, body, pre, code, kbd, samp {
    font-family: 'Press Start 2P', cursive;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.nes-btn {
    width: 70%
}
