#dashboardContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#dash1cont {
    padding-bottom: 25px;
}

#roominput {
    margin-bottom: 7.5%;
}

#h1dashboard {
    margin: 0;
}

.joingamebtn {
    width: 61%;
}
