.resultscontainer {
    width: clamp(50%, 700px, 90%);
    height: min(50%, 300px);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

