#h1menu {
    margin-top: 15%;
}

#menuContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loginContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    /* margin-top: 20%; */
}
