#menuContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.loginContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.leaderboardbtn {
    background-color: rgb(106,89,61);
    color: whitesmoke;
    width: max-content;
}

.pwdcontainer {
    font-size: 70%;
    margin-top: 5%; 
}

.pwdlink {
    padding: 15px;
}

.regbtn {
    width: 67%;
}

.nes-btn::after {
    box-shadow: none;
}
