#forgoth1 {
    color: aliceblue;
}

/* .forgotpwdcontainer {
    width: 500%;
} */

#forgotpwdForm {
    width: clamp(50%, 700px, 90%);
    height: min(50%, 300px);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.fpwdinput {
    width: 100%;
    margin-top: 10%;
    padding: 2%;
}

.fpwdsubmit {
    margin-top: 10%;
    width: none;
    padding: 5px 7px;
}

.closebtn {
    /* width: 10%; */
}
