.usrNm{
    background-color: white;
    border: solid black 3px;
}

.nes-btn.is-success {
    margin-bottom: 2%;
}

.nes-btn.is-primary {
    margin-bottom: 2.5%;
}

.loginContainer {
    background-color: rgb(250,223,176);
}

/* #loginbtn {
    width: 100%;
} */
